html {
  scroll-behavior: smooth;
}
body {
  background-size: 100% !important;
  transition: all 0.3s;
}

nav {
  width: 90%;
  margin: 0 5%;
  padding: 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.navbar-nav {
  position: relative;
  float: right;
  margin-left: auto !important;
  margin-right: 0 !important;
}

.nav-item a {
  color: #fff !important;
}

.nav-item {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14px;
}

.boxes {
  border: 2px solid #fff;
  background-color: rgb(0, 0, 0, 0.6);
  margin-left: 1em;
  margin-right: 1em;
}

.login-nav {
  padding-left : 0 !important;
}

.boxes.login {
  color: rgb(86, 147, 226);
}
.dialog-content {
  padding: 2em;
}
.modal-header {
  background-image: url('./assets/images/—Pngtree—blue\ science\ technology\ background_88873.jpg');
  margin-bottom: 2em;
  color: rgb(233, 233, 233);
  text-align: center;
}

.modal-title {
  padding-left: 40%;
}

.close {
  color: #fff;
  opacity: 1;
}

.number {
  padding: 0.75em;
  padding-bottom: 0.25em;
  margin-top: -0.5em;
  margin-left: -2em;
  margin-right: 2em;
  background-color: rgb(10, 0, 153);
  color: #fff;
}

.checkbox {
  margin-top: 1em;
  margin-bottom: 2em;
}

.terms {
  color: green;
}

.modaal-footer {
  height: 5em;
  background-image: url('./assets/images/green-bg.png');
}

.register {
  text-align: center;
  margin-left: 40%;
  margin-top: 1em;
  background-color: transparent;
  color: #fff;
  border: 3px solid white;
}
.container {
  margin: 0;
  padding: 0;
}

.main-body {
  min-height: 100vh;
  padding-top: 80px !important;
  height: auto;
}


#home {
  background-image:url("./assets/images/poker-1.png");  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}
.intro-section {
  margin-left: 20%;
  font-family: 'Serif';
  margin-top: -2em;
}
.intro-section h2 {
  font-size: 48px;
}

.igaming {
  font-size: 5vw;
  font-family: serif;
}

.navbar-toggler {
  margin:0;
  padding:0;
  width: 16px;
  color: #fff;
}

.navbar-toggler:focus {
  outline: 0 !important;
}


.fa.fa-bars {
  color: rgba(233, 219, 219, 0.7);
}

.fa.fa-bars:focus, .fa.fa-bars:active {
  outline: 0 !important;
} 

.signup {
  padding-left: 2em;
  padding-right: 2em;
}

.login {
  margin-left: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.navbar-fixed-top.scrolled {
  background-color: rgb(110, 108, 108, 0.6) !important;
  opacity: 0.8;
  transition: background-color 200ms linear;
}

.home-body-section {
  margin-top: 5em !important;
  color: #ffffff;
}

/* .bg-image {
  width: 300px;
  min-height: 1000px;
  margin-left: 5em;
  margin-top: 3em;
  height: auto;
  background-image: url(./assets/images/IMac_vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px 13px;
  position: relative;
  z-index: 99;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  height: 122px;
}

.carousel,
.carousel .item,
.carousel-inner,
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  height: 130px !important;
  width: 275px;
  object-fit: cover;
} */


.diag-home {
  position: absolute;
  top: 50%;
  background: #fff;
  min-height: 1000px;
  height: auto;
  margin-left: 0;
  transform: skewY(-6deg);
}

.diag-home.flex {
  background-color: #fff;
  padding-bottom: 100px;
}

.diagnol-bottom {
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 0 !important;
  bottom: 0;
  transform: skewY(6deg);
}

.skewed-row {
  transform: skewY(6deg);
  margin-top: 8em !important;
}

.icon-container {
  padding-top: 1em;
}

.card {
  border: 0;
  text-align: center;
  background: transparent;
}

.card img {
  height: 45px;
  width: 45px;
  margin-top: 5em;
  margin-left: 45%;
}

.card-title {
  color: black;
}

#learn {
  min-height: 100vh !important;
  height: auto;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
}
.row {
  margin: 0;
}
.listed-items {
  min-height: 70vh;
  background: linear-gradient(to right, rgba(48, 14, 14, 0.72), rgba(44, 4, 97, 0.72)), url('./assets/images/pokr-1.png');
  background-size: 100% !important;
  position: relative;
  padding-top: 4em;
}

.affiliate-row, .publisher-row {
  margin-left: 15%;
}

.listed-items h3 {
  margin-top: 1em;
  margin-left: 30%;
}

.affiliate {
  height: 50px;
  width: 50px;
  margin-right: 3em;
}

.advertiser {
  margin-right: 3em;
}
.publish {
  width: 50%;
}

.publish-list {
  margin-top: 1em;
  font-size: 18px;
  margin-left: 25%;
}

.publish-list li {
  padding-top: 0.5em;
}
.publisher {
  border: 3px solid white;
  background: transparent;
  color: white;
  font-size: 14px;
  margin-top: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.phone {
  color: #ffffff !important;
  margin-right: 1em !important;
}

.publisher:focus {
  border: 3px solid #fff;
  outline: 0;
}

.white-board {
  background: #ffffff;
  min-height: 25vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  color: #000;
  width: 100%;
  height: auto;
}

.white-board .container {
  padding-top: 2em;
  margin-left: 8%;
}


#count {
  margin-top: 3em;
}

.count {
  color: rgb(70, 70, 70);
}

#about {
  background-image: linear-gradient(to right,  rgba(79, 252, 122, 0.72), rgba(97, 99, 243, 0.52)),
  url("./assets/images/poker.jpg");
  background-size: 100% !important;
  height: auto;
}
.about {
  color: #fff;
  padding-top: 2em;
  padding-left: 3em;
  margin-left: 10%;
  padding-right: 2em !important;
}
.big {
  font-size: 18px;
}
p.big {
  line-height: 1.5;
}

.pics img {
  height: 100px;
  width: 100px;
}

#contact {
  background-color: #fff;
  font-size: 18px;
}

.contact {
  padding-top: 2em;
}

.form input {
  padding-bottom: 1em;
}

.space {
  padding-left: 4em;
}

.social-media {
  color: #000;
  list-style-type: none;
}
.social-media li a {
  color: #000;
  font-size: 24px;
}

.social-media li:hover a {
  color: green;
}

.fa {
  font-size: 24px;
  color: #000;
  margin-right: 2em;
}

footer {
  height: 2em;
  line-height: 2em;
  background-color: rgb(41, 41, 41);
  color: #fff;
}

footer > * {
  margin-left: 2em;
  margin-bottom: 0 !important
}

@media (min-width: 768px) and (max-width: 1266px) {
  .intro-board {
    margin-top: -6em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .diag-home {
    width: 100vw !important;
    position: inherit;
    margin-left: 0;
  }
  #about {
    padding-left: 2em
  }
}

@media (max-width: 768px) {

  .navbar-collapse {
    background-color: rgba(31, 31, 31, 0.8);
  }

  .boxes {
    border:0;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
  }


  .igaming {
    font-size: 7vw;
  }
  .main-body .container {
    margin: 0;
    padding: 0;
  }

  .home-body-section {
    margin-top: 0;
  }
  .bg-image {
    top: 10vh;
  }

  .diag-home {
    position: inherit;
    margin-left: 0;
  }

  #about {
    padding-left: 2em
  }
}

@media (min-width: 1266px) {
  .igaming {
    font-size: 60px;
  }
}

@media (max-width) {
  .igaming {
    font-size: 36px;
  }
}
